* {
    box-sizing: border-box;
}

body {
    background-color: #406BB7;
}

.container {
    width: 95%;
    height: 100%;
    margin: 0 auto;
    background-color: #ffffff;
    overflow: auto;
    padding: 3%;
    border-radius: 12px;
}

.poke {
    width: 46%;
    background-color: red;
    height: 220px;
    float: left;
    margin: 2%;
    border-radius: 2%;
}

.pokeImg {
    height: 200px;
    width: 200px;
    background-color: #6495ED;
    margin: 10px;
    border-radius: 2%;
    padding: 5px;
    background-size: cover;
}

.col_left {
    width: 49.9%;
    float: left;
}

.col_right {
    width: 49.9%;
    float: right;
}

@media only screen and (max-width: 1100px) {
    .poke {
        width: 100%;
    }
    .pokeImg {
        width: 100px;
        height: 100px;
    }
}